<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>

<body>
    <form name="Form1" action="">
        <table witdth="100%" border="1">
            <tr>
                <td colspan="2">
                    <div alig="center"><strong>Datos del estudiante</strong></div>
                </td>
            </tr>
            
            <tr>
                <td>dato</td>
                <td>$dato</td>
            </tr>
        </table>
    </form>
</body>

</html>